<template>
  <v-app class="container-bg">
    <!-- <TheNavBar @show-game-menu="handleShowGameMenu" /> -->
    <TheNavBar />
    <v-content class="container-bg">
      <TheGame
        ref="game"
        @round="handleRound"
      />
      <TheGameMenu
        :isOpen="isGameMenuOpen"
        :options="gameMenuOptions"
        @start-new-game="handleNewGame"
        @resume-game="handleResumeGame"
        @authorization-game="handleAuthorization"
        @registration-game="handleRegistration"
        @info-game="handleInfo"
        @cabinet-game="handleCabinet"
      />
      <TheGameBoardRedactor :isOpen="isGameBoardRedactorOpen" @start-game="handleStartGame"/>
      <Authorization :isOpen="isAuthorizationOpen"
        @close-authorization-game="handleAuthorizationClose"/>
      <Registration :isOpen="isRegistrationOpen"
        @close-registration-game="handleRegistrationClose"/>
      <Info :isOpen="isInfoOpen" @close-info-game="handleInfoClose"/>
      <Cabinet :isOpen="isCabinetOpen" @close-cabinet-game="handleCabinetClose"/>
    </v-content>
  </v-app>
</template>

<script>
import TheNavBar from './components/TheNavBar.vue';
import TheGameMenu from './components/TheGameMenu.vue';
import TheGameBoardRedactor from './components/TheGameBoardRedactor.vue';
import TheGame from './components/TheGame.vue';
import Authorization from './components/Authorization.vue';
import Registration from './components/Registration.vue';
import Info from './components/Info.vue';
import Cabinet from './components/Cabinet.vue';

import createPlayer from './scripts/factories/createPlayer';

export default {
  name: 'App',

  components: {
    TheGame,
    TheNavBar,
    TheGameMenu,
    TheGameBoardRedactor,
    Authorization,
    Registration,
    Info,
    Cabinet,
  },

  data: () => ({
    isGameMenuOpen: true,
    isGameBoardRedactorOpen: false,
    isAuthorizationOpen: false,
    isRegistrationOpen: false,
    isInfoOpen: false,
    isCabinetOpen: false,
    gameMenuOptions: {
      resume: {
        isDisabled: true,
      },
    },
    pl: null,
    pc: null,
    plHasDamaged: false,
    pcHasDamaged: false,
    gameHasAwinner: false,
  }),

  methods: {
    hideGameMenu() {
      this.isGameMenuOpen = false;
    },

    handleShowGameMenu() {
      this.isGameMenuOpen = true;
    },

    openGameBoardRedactor() {
      this.isGameBoardRedactorOpen = true;
    },

    closeGameBoardRedactor() {
      this.isGameBoardRedactorOpen = false;
    },

    openAuthorization() {
      this.isAuthorizationOpen = true;
    },

    closeAuthorization() {
      this.isAuthorizationOpen = false;
    },

    openRegistration() {
      this.isRegistrationOpen = true;
    },

    closeRegistration() {
      this.isRegistrationOpen = false;
    },

    openInfo() {
      this.isInfoOpen = true;
    },

    closeInfo() {
      this.isInfoOpen = false;
    },

    openCabinet() {
      this.isCabinetOpen = true;
    },

    closeCabinet() {
      this.isCabinetOpen = false;
    },

    handleNewGame() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.hideGameMenu();
      this.openGameBoardRedactor();
      this.$refs.game.resetTheGame();
    },

    handleAuthorization() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.hideGameMenu();
      this.closeGameBoardRedactor();
      this.closeRegistration();
      this.openAuthorization();
      this.closeCabinet();
      this.closeInfo();
      // this.$refs.game.resetTheGame();
    },

    handleRegistration() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.hideGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.openRegistration();
      this.closeCabinet();
      this.closeInfo();
      // this.$refs.game.resetTheGame();
    },

    handleInfo() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.hideGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeCabinet();
      this.openInfo();
      // this.$refs.game.resetTheGame();
    },

    handleCabinet() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.hideGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeInfo();
      this.openCabinet();
      // this.$refs.game.resetTheGame();
    },

    handleAuthorizationClose() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.handleShowGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeInfo();
      // this.$refs.game.resetTheGame();
    },

    handleRegistrationClose() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.handleShowGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeInfo();
      // this.$refs.game.resetTheGame();
    },

    handleInfoClose() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.handleShowGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeInfo();
      // this.$refs.game.resetTheGame();
    },

    handleCabinetClose() {
      this.gameHasAwinner = false;
      this.gameMenuOptions.resume.isDisabled = false;

      this.handleShowGameMenu();
      this.closeGameBoardRedactor();
      this.closeAuthorization();
      this.closeRegistration();
      this.closeInfo();
      this.closeCabinet();
      // this.$refs.game.resetTheGame();
    },

    handleResumeGame() {
      this.hideGameMenu();
    },

    handleStartGame(plBoard, plBoardElement, pcBoard, pcBoardElement) {
      this.closeGameBoardRedactor();

      this.pl = createPlayer({ board: plBoard });
      this.pc = createPlayer({ board: pcBoard, isPc: true });

      this.$refs.game.initTheGame(plBoardElement, pcBoardElement, this.pl, this.pc);
    },

    handleRound(pcCordAttack) {
      if (!this.gameHasAwinner) {
        this.plHasDamaged = this.makePlTurn(pcCordAttack);
        this.$refs.game.updateTheBoardsInfo();

        if (this.pc.getBoard().isAllShipsSunk()) {
          this.gameHasAwinner = true;
          this.gameMenuOptions.resume.isDisabled = true;
          this.$refs.game.updateGameInfo('Поздравляем, Вы выиграли игру!', 'rgb(43, 197, 87)');
          setTimeout(this.handleShowGameMenu, 3000);

          return;
        }

        if (this.plHasDamaged) return;

        this.$refs.game.updateGameInfo('Ход противника!', 'rgb(226, 54, 54)');
        this.$refs.game.disablePcBoard();

        const delayPcTurn = (ms) => {
          setTimeout(() => {
            this.pcHasDamaged = this.makePcTurn();
            this.$refs.game.updateTheBoardsInfo();

            if (this.pl.getBoard().isAllShipsSunk()) {
              this.gameHasAwinner = true;
              this.gameMenuOptions.resume.isDisabled = true;
              this.$refs.game.updateGameInfo('Противник выиграл игру!', 'rgb(226, 54, 54)');
              setTimeout(this.handleShowGameMenu, 3000);

              return;
            }

            if (this.pcHasDamaged) {
              delayPcTurn(ms);

              return;
            }

            this.$refs.game.updateGameInfo('Твой ход!', 'rgb(43, 197, 87)');
            this.$refs.game.enablePcBoard();
          }, ms);
        };

        delayPcTurn(500);
      }
    },

    makePlTurn(pcCordAttack) {
      const { x, y } = JSON.parse(pcCordAttack);
      const attackInfo = this.pl.attack({ player: this.pc, x, y });
      this.$refs.game.updatePcBoard(pcCordAttack, attackInfo);

      return attackInfo === true || attackInfo.damagedShipData;
    },

    makePcTurn() {
      const { attackInfo, cord } = this.pc.attack({ player: this.pl });
      const { x, y } = cord;
      this.$refs.game.updatePlBoard(JSON.stringify({ x, y }), attackInfo);

      return attackInfo === true || attackInfo.damagedShipData;
    },
  },
};
</script>

<style>
.container-bg {
  background-color: rgb(210, 234, 248);
}

@font-face {
  font-family: bfont;
  src: url('./assets/fonts/18710.OTF');
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  user-select: none !important;
}

html {
  font-size: 10px !important;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 7px !important;
  }
}

@media screen and (max-width: 410px) {
  html {
    font-size: 6px !important;
  }
}

@media screen and (max-width: 359) {
  html {
    font-size: 5px !important;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 4px !important;
  }
}
</style>
