<template>
  <v-dialog v-model="isOpen" persistent overlay-opacity="0.8">
    <v-card class="elevation-12">
      <v-toolbar
        color="primary"
        dark
        flat
      >
        <!-- <v-toolbar-title>Авторизация</v-toolbar-title> -->
        <h2 class="title-h2">Авторизация</h2>
        <v-spacer />
        <button class="btn" @click="$emit('close-authorization-game')">
          Назад
        </button>
      </v-toolbar>
      <v-card-text>
        <v-form>
          <v-text-field
            label="Логин"
            name="email"
            prepend-icon="mdi-account"
            type="text"
            v-model="email"
          />

          <v-text-field
            id="password"
            label="Пароль"
            name="password"
            prepend-icon="mdi-lock"
            type="password"
            v-model="password"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <!-- <v-btn color="primary">Войти</v-btn> -->
        <button class="btn" v-on:click='submit' @click="$emit('close-authorization-game')" >
          Войти
        </button>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Authorization',
  props: {
    isOpen: Boolean,
    source: String,
  },
  data() {
    return {
      email: '',
      password: '',
      users: [],
    };
  },
  methods: {
    submit() {
      // console.log(this.email);
      // console.log(this.password);
      for (let i = 0; i <= this.users.length; i += 1) {
        // console.log(this.users[i].email);
        if (this.users[i].email === this.email && this.users[i].password === this.password) {
          // console.log(this.users[i].id);
          localStorage.id = this.users[i].id;
          localStorage.name = this.users[i].name;
          localStorage.surname = this.users[i].surname;
          localStorage.email = this.users[i].email;
          localStorage.password = this.users[i].password;
        }
      }

      this.email = '';
      this.password = '';
    },
  },
  mounted() {
    axios.request({
      url: 'http://sea-horses.local/api/v1/users/',
      method: 'get',
    })
      .then((response) => {
        this.users = response.data;
        console.log(this.users);
      });
  },

};
</script>

<style scoped>
.title-h2 {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
}

.btn {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: rgb(128, 255, 0);
}
</style>
