<template>
  <v-dialog v-model="isOpen" persistent overlay-opacity="0.8">

    <v-toolbar color="indigo" dark fixed app>
      <!-- <v-toolbar-title>Личный профиль</v-toolbar-title> -->
      <h2 class="title-h2">Личный профиль</h2>
      <v-spacer />
      <!-- <v-switch
        v-model="switch1"
        :label="`Звук`"
        class="pt-5"
      ></v-switch>
      <v-spacer /> -->
      <button class="btn" @click="$emit('close-cabinet-game')">
        Назад
      </button>
    </v-toolbar>

    <v-container >
      <v-layout row wrap>

        <v-flex md6>
          <div>
            <v-container>
              <v-card>
                <v-card-title style="font-size:1.3em">Изменить профиль</v-card-title>
                <v-form ref='form' class='pl-5 pr-5 '>
                  <v-row justify="space-between" >

                    <v-col cols="12" class="py-0 my-0">
                      <!-- <v-text-field
                        v-model="name"
                        :counter="20"
                        :rules="nameRules"
                        :hint="name_hint"
                        label="Имя"
                        ref='name_field'
                        required
                        outlined
                      ></v-text-field> -->
                      <v-text-field
                        v-model="name"
                        :counter="20"
                        :hint="name_hint"
                        label="Имя"
                        ref='name_field'
                        required
                        outlined
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" class="py-0 my-0">
                      <v-text-field
                        v-model="email"
                        :counter='20'
                        label="Логин"
                        ref='login_field'
                        :hint="login_hint"
                        required
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-card-title class="py-0 my-1" style="font-size:1.3em">
                      Изменить пароль
                  </v-card-title>
                  <v-row>
                    <v-col cols="12" class="py-0 my-0">
                      <!-- <v-text-field
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show1 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Старый пароль"
                        v-model='password_old'
                        :hint="password_hint"
                        ref='password_field'
                        @click:append="show1 = !show1"
                        outlined
                      ></v-text-field> -->
                      <v-text-field
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show1 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Старый пароль"
                        v-model='password_old'
                        :hint="password_hint"
                        ref='password_field'
                        @click:append="show1 = !show1"
                        outlined
                      ></v-text-field>

                      <!-- <v-text-field
                        :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show2 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Новый пароль"
                        v-model='password_new'
                        @click:append="show2 = !show2"
                        outlined
                      ></v-text-field> -->
                      <v-text-field
                        :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show2 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Новый пароль"
                        v-model='password_new'
                        @click:append="show2 = !show2"
                        outlined
                      ></v-text-field>

                      <!-- <v-text-field
                        :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show3 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Подтверждение пароля"
                        v-model='password_new_conferm'
                        @click:append="show3 = !show3"
                        outlined
                      ></v-text-field> -->
                      <v-text-field
                        :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show3 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Подтверждение пароля"
                        v-model='password_new_conferm'
                        @click:append="show3 = !show3"
                        outlined
                      ></v-text-field>
                    </v-col>

                    <v-col>
                      <!-- <v-btn
                        absolute
                        dark
                        fab
                        right
                        color="green"
                        style=" position: absolute; top:93%"
                        @click='submit'
                        >
                        <v-icon>mdi-check</v-icon>
                      </v-btn> -->
                      <v-spacer />
                      <button class="btn" v-on:click='submit'>Сохранить</button>
                      <v-spacer />
                    </v-col>
                  </v-row>

                </v-form>
              </v-card>
            </v-container>
          </div>
        </v-flex>

        <!-- <v-flex md6>
          <div>
            <v-container>
              <v-card>
                <v-card-title style="font-size:1.3em">Выбрать игру</v-card-title>
                <v-form ref='form' class='pl-5 pr-5 '>
                  <v-list>
                    <v-list-item-group v-model="model" color="primary">
                      <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        >

                        <v-list-item-content>
                          <v-list-item-title v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-form>
              </v-card>
            </v-container>
          </div>
        </v-flex> -->

      </v-layout>
    </v-container>
  </v-dialog>
</template>

<script>
// import axios from 'axios';

export default {
  name: 'Cabinet',
  props: {
    isOpen: Boolean,
    user_id: Number,
  },
  // mounted() {
  //   // let filter= this.user_id;
  //   this.user_id = 1;
  //   let filter = this.user_id;
  //
  //   axios.get(`string${filter}/`)
  //     .then((response) => {
  //       this.name = this.name_resp = response.data.user.name;
  //       this.login = this.login_resp = response.data.user.email;
  //     })
  // },

  // todo: исправить на пост
  // methods: {
  //   submit: function() {
  //     // если изменено Имя
  //     if (this.name!==this.name_resp) {
  //       axios.get(`http://0.0.0.0:8000/user/api/v1/reset/name`,
  //       {
  //                   params: {
  //                             id: this.user_id,
  //                             name: this.name,
  //                           }
  //                 }).then(response => {
  //                   if (response.status == 200){
  //                     this.name_hint = 'OK';
  //                   }else{
  //                     this.name_hint = 'Something went wrong'
  //                   }
  //                   this.$refs.name_field.focus();
  //        });
  //
  //
  //       }
  //
  //       // если изменен login
  //       if (this.login!=this.login_field){
  //           axios.get(`string`,
  //                 {
  //                   params: {
  //                             id: this.user_id,
  //                             login_new: this.login,
  //                           }
  //                 })
  //                 .then(response => {
  //                   if(response.status==200){
  //                     this.login_hint='OK';}
  //                     else{
  //                       this.login_hint='smth went wrong';
  //                     }
  //                   this.$refs.login_field.focus();
  //                 });
  //       }
  //
  //       // если изменен Пароль
  //       if (this.password_old){
  //         if (this.password_new == this.password_new_conferm){
  //           axios.post(`http://0.0.0.0:8000/user/api/v1/reset/password`,
  //                 {
  //                   params: {
  //                             id: this.user_id,
  //                             password:this.password_old,
  //                             password_new: this.password_new
  //                           }
  //
  //
  //                 })
  //                 .then(response => {
  //                   if(response.status!=200){
  //                     this.password_hint='Something went wrong';}
  //                   this.$refs.password_field.focus();
  //                 });
  //               }
  //       }
  //     }
  // },

  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      name: localStorage.name,
      email: localStorage.email,
      name_hint: '',
      login_hint: '',
      password_hint: '',
      item: 1,
      items: [
        { text: 'Игра 1' },
        { text: 'Игра 2' },
        { text: 'Игра 3' },
      ],
      // rules: {
      //   required: value => !!value || 'Required.',
      //   min: v => v.length >= 4 || 'Min 4 characters',
      // },
    };
  },
};

</script>

<style scoped>
@font-face {
  font-family: bfont;
  src: url('../assets/fonts/18710.OTF');
}

.title-h2 {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 1px 1px black;
}

.description-p {
    font-size: 1.6rem;
    margin: 2em;
    font: message-box;
}

.description-div {
    font-size: 13px;
    font: small-caption;
}

.btn {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: rgb(128, 255, 0);
}
</style>
