<template>
  <v-dialog v-model="isOpen" persistent overlay-opacity="0.8">

    <v-toolbar color="indigo" dark fixed app>
      <!-- <v-toolbar-title class="title">Справочная информация</v-toolbar-title> -->
      <h2 class="title-h2">Справочная информация</h2>
      <v-spacer />
      <button class="btn" @click="$emit('close-info-game')">
        Назад
      </button>
    </v-toolbar>

    <v-container fluid fill-height>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card class="mx-auto">
            <v-img class="white--text align-end" height="250px"
                src="../assets/images/ship.jpg"
                gradient="to top right, rgba(63, 68, 98, 0.33), rgba(20, 23, 41, 0.7)"
            >
              <v-card-title class="display-2">Правила игры Морской Бой</v-card-title>
            </v-img>

            <v-card-text class="text--primary">
              <div class="description-p">
                <p class="text-justify">
                    В игре принимают участие два игрока.
                    Они располагаются так, чтобы не видеть игровое поле противника,
                    и готовятся к игре.</p>
                <p class="text-justify">
                    Перед каждым игроком два поля. Первое поле используется для
                    размещения флота своих кораблей, а второе – для визуализации
                    поля противника. Квадраты по вертикали нумеруются сверху вниз,
                    по горизонтали помечаются буквами русского алфавита от «а»
                    до «к», при этом буквы «ё» и «й» исключаются.</p>
                <p class="text-justify">
                    Флот каждого игрока состоит из четырех «однопалубных» кораблей
                    (1 клетка – торпедные катера), трех «двухпалубных»
                    (2 клетки – эсминцы), двух «трехпалубных»
                    (3 клетки – крейсера) и одного «четырехпалубного»
                    (4 клетки – линкор) корабля. При размещении корабли не должны
                    соприкасаться, то есть расстояние между ними должно быть не
                    менее одной клетки.</p>
                <p class="text-justify">
                    Переставлять свои корабли после начала игры категорически запрещено</p>
              </div>

            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-divider></v-divider>

    <v-container fluid>
      <div class="display-2 pa-7 text-start">Информация о разработчиках</div>

        <v-row>
          <v-col cols="6" sm="4">
            <v-card>
              <v-img
                    src="../assets/images/rin.jpg" height="250px">
              </v-img>
              <!-- <v-card-subtitle class="headline">Батькаев Ринат Рамильевич</v-card-subtitle> -->
              <v-card-subtitle class="headline">Батькаев Ринат Рамильевич</v-card-subtitle>
              <v-card-text class="text-justify text--primary description-div ">
                <div>
                    Батькаев Ринат является студентом Самарского университета.
                    Учится на 4 курсе направления ФИИТ. Проходил стажировку в
                    компании REG.RU, где получил колоссальный опыт и огромный
                    багаж знаний. В данный момент работает в компании Сбербанк.
                </div>
                <div>
                    Работает в команде над курсовым проектом, целью которого
                    является реализовать автоматизированную систему "Игра Морской Бой".
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="6" sm="4">
            <v-card>
              <v-img
                    src="../assets/images/maks.jpg" height="250px"
              ></v-img>
              <v-card-subtitle class="headline">Громыко Максим Дмитриевич</v-card-subtitle>
              <v-card-text class="text-justify text--primary description-div ">
                <div>
                    Громыко Максим является студентом Самарского университета.
                    Учится на 4 курсе направления ФИИТ. В данный момент проходит
                    стажировку в Netckracker, где получает огромный запас знаний о
                    будущей профессии. Является игроком сборной Самарского
                    университета по баскетболу.
                </div>
                <div>
                    Работает в команде над курсовым проектом, целью которого
                    является реализовать автоматизированную систему "Игра Морской Бой".
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="6" sm="4">
            <v-card>
              <v-img
                    src="../assets/images/ananas.jpg" height="250px"
              ></v-img>
              <v-card-subtitle class="headline">Хорошилова Анастасия Александровна</v-card-subtitle>
              <v-card-text class="text-justify text--primary description-div ">
                <div>
                    Хорошилова Анастасия является студентом Самарского университета.
                    Учится на 4 курсе направления ФИИТ. Проходила стажировку в реге,
                    где получила колоссальный опыт и огромный багаж знаний.
                    В данный момент проходит стажировку в компании Netckracker
                </div>
                <div>
                    Работает в команде над курсовым проектом, целью которого является
                    реализовать автоматизированную систему "Игра Морской Бой".
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

    </v-container>
  </v-dialog>
</template>

<script>
export default {
  name: 'Info',
  props: {
    isOpen: Boolean,
    source: String,
  },
};
</script>

<style scoped>
@font-face {
  font-family: bfont;
  src: url('../assets/fonts/18710.OTF');
}

.title-h2 {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 1px 1px black;
}

.description-p {
    font-size: 1.6rem;
    margin: 2em;
    font: message-box;
}

.description-div {
    font-size: 13px;
    font: small-caption;
}

.btn {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: rgb(128, 255, 0);
}
</style>
