<template>
  <v-dialog v-model="isOpen" persistent overlay-opacity="0.8">
    <v-card class="elevation-12">
      <v-toolbar
        color="primary"
        dark
        flat
      >
        <!-- <v-toolbar-title>Регистрация</v-toolbar-title> -->
         <h2 class="title-h2">Регистрация</h2>
        <v-spacer />
        <button class="btn" @click="$emit('close-registration-game')">
          Назад
        </button>
      </v-toolbar>
      <v-card-text>
        <v-form>
          <v-text-field
            label="Имя"
            name="name"
            prepend-icon="mdi-account-circle"
            type="text"
            v-model='name'
          />
          <v-text-field
            label="Логин"
            name="email"
            prepend-icon="mdi-account"
            type="text"
            v-model='email'
          />

          <v-text-field
            label="Пароль"
            name="password"
            prepend-icon="mdi-lock"
            type="password"
            v-model="password"
          />

          <!-- <v-text-field
            label="Подтвердить пароль"
            :rules="[rules.required, rules.min]"
            name="password_conf"
            prepend-icon="mdi-lock"
            type="password"
          /> -->

          <v-text-field
            label="Подтвердить пароль"
            name="password_conferm"
            prepend-icon="mdi-lock"
            type="password"
            v-model="password_conferm"
          />

        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <!-- <v-btn color="primary" @click='submit'>Войти</v-btn> -->
        <button class="btn" v-on:click='submit' @click="$emit('close-registration-game')" >
          Заригестрироваться
        </button>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Registration',
  props: {
    isOpen: Boolean,
    source: String,
  },
  data() {
    return {
      name: '',
      email: '',
      password: '',
      password_conferm: '',
      // rules: [
      //   value => !!value || 'Required.',
      //   value => value.length >= 4 || 'Min 4 characters',
      // ],
      // users: [],
    };
  },
  methods: {
    submit() {
      if (this.password === this.password_conferm) {
        axios.request({
          url: 'http://sea-horses.local/api/v1/users/',
          method: 'post',
          data: {
            name: this.name,
            email: this.email,
            password: this.password,
          },
        })
          .then((response) => {
            // console.log(response.status);
            if (response.status !== 200) {
              this.password_hint = 'Something went wrong';
            }
          });

        // axios.request({
        //   url: 'http://sea-horses.local/api/v1/users/',
        //   method: 'get',
        // })
        //   .then((response) => {
        //     this.users = response.data;
        //     console.log(this.users);
        //   });

        this.name = '';
        this.email = '';
        this.password = '';
        this.password_conferm = '';
      }
    },
  },
};
</script>

<style scoped>
.title-h2 {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
}

.btn {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 2px 2px black;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: rgb(128, 255, 0);
}
</style>
