<template>
  <v-dialog v-model="isOpen" persistent overlay-opacity="0.8">
    <div class="menu-container">
      <button v-if="flagGame" class="btn" @click="$emit('start-new-game')">
        Новая игра
      </button>
      <button v-else class="btn" @click="$emit('start-new-game')">
        Новая игра (гость)
      </button>
      <button v-if="!flagGame" class="btn" @click="$emit('authorization-game')">
        Авторизация
      </button>
      <button v-if="!flagGame" class="btn" @click="$emit('registration-game')">
        Регистрация
      </button>
      <button class="btn" @click="$emit('info-game')">
        Справка
      </button>
      <button v-if="flagGame" class="btn" @click="$emit('cabinet-game')">
        Личный кабинет
      </button>
      <button v-if="flagGame" class="btn" @click="exit">
        Выход
      </button>
      <!-- <button
        class="btn"
        :class="{ disable: options.resume.isDisabled }"
        @click="$emit('resume-game')"
      >
        Resume
      </button> -->
    </div>
  </v-dialog>
</template>

<script>
export default {
  name: 'TheGameMenu',

  props: {
    isOpen: Boolean,
    options: Object,
    // flagGame: Boolean,
  },

  data() {
    return {
      flagGame: false,
    };
  },

  methods: {
    exit() {
      localStorage.id = '';
      localStorage.name = '';
      localStorage.surname = '';
      localStorage.email = '';
      localStorage.password = '';
      this.flagGame = false;
    },
  },

  mounted() {
    if (localStorage.id === '') {
      this.flagGame = false;
    } else {
      this.flagGame = true;
    }
  },
};
</script>

<style scoped>
.btn {
  margin: 2rem;
  font-size: 3rem;
  font-family: bfont;
  outline: none;
  text-shadow: 0 1px 1px black;
  text-align: center;
  color: rgb(0, 48, 102);
}

.btn:hover,
.btn:focus {
  color: rgb(128, 255, 0);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(34, 34, 34, 0.8); */
  background-color: rgb(210, 234, 248);
  box-shadow: inset 0 0 2px 2px rgb(56, 56, 56);
}

.source {
 text-decoration: underline;
 color: rgb(255, 103, 103);
 text-shadow: 0 0px 2px black;
 font-size: 2rem;
}

.disable {
  pointer-events: none;
  color: rgb(117, 117, 117);
}

.author {
  font-family: bfont;
  text-shadow: 0 2px 2px black;
  font-size: 1.6rem;
}
</style>
