<template>
  <v-dialog v-model="resetAndDisplay" persistent overlay-opacity="0.8">
    <div class="container">
      <h2>Расстановка кораблей</h2>
      <div class="redactor">
        <div class="board-container">
          <div class="cords letters">
            <div class="letter" v-for="l in lettersCords" :key="l">{{ l }}</div>
          </div>
          <div class="cords numbers">
            <div class="number" v-for="n in numbersCords" :key="n">{{ n }}</div>
          </div>
          <div class="board">
            <div
              class="spot"
              v-for="(_, i) in Math.pow(MAX + 1, 2)"
              :key="keys[MIN + i]"
              :data-cord="stringifiedCords[MIN + i]"
              @dragover.prevent="handleDragOver"
              @dragleave="handleDragLeave"
              @drop.prevent="handleDrop"
            ></div>
          </div>
        </div>
        <div class="selection">
          <div
            class="ship-container"
            v-for="(count, ship) in ships"
            :key="ship"
            @dragstart="handleDragStart"
          >
            <span class="count">{{ count }}x</span>
            <div
              class="ship"
              :data-length="getShipLength(ship)"
              data-position="y"
              draggable="true"
             :ref="ship"
            >
              <div class="part" v-for="i in getShipLength(ship)" :key="i"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tips-container">
        <v-icon class="tip-ico">mdi-lightbulb-on</v-icon>
        <div class="tips">
          <span>Перетащите корабли</span>
          <span>Кликните по кораблю на поле, чтобы изменить направление</span>
        </div>
      </div>
      <div class="options">
        <button @click="handleRandomPlacement">Случайный 1</button>
        <button @click="handleRandomPlacement2">Случайный 2</button>
        <button @click="resetBoard()">Сброс</button>
      </div>
      <div class="options">
        <button @click="onClickStartBtn"
                :class="{ disable: totalShips !== 0 }">Играть с ПК(легкий)</button>
        <button @click="onClickStartBtn"
                :class="{ disable: totalShips !== 0 }">Играть с ПК(сложный)</button>
      </div>
      <!-- <div class="options">
        <button v-if="flagGame" @click="onClickStartBtn"
                :class="{ disable: totalShips !== 0 }">Играть с другом</button>
        <button v-if="flagGame" @click="onClickStartBtn"
                :class="{ disable: totalShips !== 0 }">Играть по ссылке</button>
      </div> -->
    </div>
  </v-dialog>
</template>

<script>
import axios from 'axios';
import createGameBoard, {
  MAX_CORD_RANGE,
  MIN_CORD_RANGE,
  REQUIRED_TYPES_OF_SHIPS,
} from '../scripts/factories/createGameBoard';

import createShip from '../scripts/factories/createShip';

export default {
  name: 'TheGameBoardRedactor',

  props: {
    isOpen: Boolean,
  },

  data() {
    return {
      MAX: MAX_CORD_RANGE,
      MIN: MIN_CORD_RANGE,
      ships: { ...REQUIRED_TYPES_OF_SHIPS },
      board: createGameBoard(),
      draggedShip: null,
      dataAxios: [],
      flagGame: false,
    };
  },

  computed: {
    resetAndDisplay() {
      if (this.isOpen) this.resetBoard();

      return this.isOpen;
    },

    cords() {
      const cords = [];
      for (let i = this.MIN; i <= this.MAX; i += 1) {
        for (let j = this.MIN; j <= this.MAX; j += 1) {
          cords.push({ x: j, y: i });
        }
      }

      return cords;
    },

    keys() {
      return this.cords.map((c, i) => `${JSON.stringify(c)}-${i}`);
    },

    stringifiedCords() {
      return this.cords.map((c) => JSON.stringify(c));
    },

    lettersCords() {
      const cords = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К'];

      // for (let i = this.MIN; i <= this.MAX; i += 1) {
      //   cords.push(String.fromCharCode(65 + i));
      // }

      return cords;
    },

    numbersCords() {
      const cords = [];

      for (let i = this.MIN + 1; i <= this.MAX + 1; i += 1) {
        cords.push(i);
      }

      return cords;
    },

    totalShips() {
      return Object.entries(this.ships).reduce((prev, cur) => prev + cur[1], 0);
    },
  },

  methods: {
    onClickStartBtn() {
      const plBoardElement = document.querySelector('.board-container').cloneNode(true);
      const ships = plBoardElement.querySelectorAll('.ship');

      // adds cords for each part of the ships
      ships.forEach((ship) => {
        ship.removeAttribute('draggable');
        const isVertical = ship.dataset.position === 'x';
        const { x, y } = JSON.parse(ship.parentElement.dataset.cord);

        /* eslint-disable no-param-reassign */
        ship.querySelectorAll('.part').forEach((part, i) => {
          const curCord = isVertical ? { x, y: y + i } : { x: x + i, y };
          part.dataset.cord = JSON.stringify(curCord);
        });
      });

      this.board.setBoardToReady();
      const plBoard = { ...this.board };

      this.resetBoard();
      const pcBoardElement = document.querySelector('.board-container').cloneNode(true);

      this.board.placeShipRandom(createShip({ length: 4 }));
      this.board.placeShipRandom(createShip({ length: 3 }));
      this.board.placeShipRandom(createShip({ length: 3 }));
      this.board.placeShipRandom(createShip({ length: 2 }));
      this.board.placeShipRandom(createShip({ length: 2 }));
      this.board.placeShipRandom(createShip({ length: 2 }));
      this.board.placeShipRandom(createShip({ length: 1 }));
      this.board.placeShipRandom(createShip({ length: 1 }));
      this.board.placeShipRandom(createShip({ length: 1 }));
      this.board.placeShipRandom(createShip({ length: 1 }));

      this.board.setBoardToReady();
      const pcBoard = { ...this.board };
      this.$emit('start-game', plBoard, plBoardElement, pcBoard, pcBoardElement);
    },

    getShipLength(ship) {
      return +ship.match(/\d/g).join('');
    },

    resetBoard() {
      document.querySelectorAll('.spot > .ship').forEach((ship) => ship.remove());
      this.board = createGameBoard();
      this.ships = { ...REQUIRED_TYPES_OF_SHIPS };
    },

    handleChangePosition(e) {
      const ship = e.currentTarget;
      const cord = JSON.parse(ship.dataset.cord);
      const isVertical = ship.dataset.position === 'x';

      if (this.board.replaceShipFrom(
        { cx: cord.x, cy: cord.y },
        { nx: cord.x, ny: cord.y, isVertical: !isVertical },
      )) {
        const pos = ship.dataset.position === 'x' ? 'y' : 'x';
        ship.dataset.position = pos;
        ship.style['grid-auto-flow'] = pos === 'x' ? 'row' : 'column';
      }
    },

    handleShipInitialCord(e) {
      const cord = JSON.parse(e.currentTarget.dataset.cord);
      const { position } = e.currentTarget.dataset;
      e.dataTransfer.setData('text/plain', JSON.stringify({ cord, cloned: true, position }));
      this.draggedShip = e.currentTarget;
    },

    handleDragStart(e) {
      const { position } = e.target.dataset;
      const length = +e.target.dataset.length;
      e.dataTransfer.setData('text/plain', JSON.stringify({ length, position }));
    },

    handleDragOver(e) {
      e.target.classList.add('over');
    },

    handleDragLeave(e) {
      e.target.classList.remove('over');
    },

    handleDrop(e) {
      e.target.classList.remove('over');

      let isDataValid;
      let data;

      try {
        data = JSON.parse(e.dataTransfer.getData('text/plain'));
        JSON.parse(e.target.dataset.cord);
        isDataValid = true;
      } catch {
        isDataValid = false;
      }

      if (isDataValid && data) {
        if (data.cloned) {
          const newCord = JSON.parse(e.target.dataset.cord);
          const { cord, position } = data;
          const isVertical = position === 'x';

          if (this.board.replaceShipFrom(
            { cx: cord.x, cy: cord.y },
            { nx: newCord.x, ny: newCord.y, isVertical },
          )) {
            this.draggedShip.dataset.cord = e.target.dataset.cord;
            e.target.appendChild(this.draggedShip);
            this.draggedShip = null;
          }
        } else {
          const { length, position } = data;
          const cord = JSON.parse(e.target.dataset.cord);
          const isVertical = position === 'x';

          if (this.board.placeShipAt(createShip({ length }), { ...cord, isVertical })) {
            const shipType = `ship${length}`;
            const ship = this.$refs[shipType][0].cloneNode(true);

            ship.dataset.cord = e.target.dataset.cord;
            ship.dataset.position = position;

            this.ships[shipType] -= 1;

            ship.style.position = 'absolute';
            e.target.appendChild(ship);

            ship.addEventListener('dragstart', this.handleShipInitialCord);
            ship.addEventListener('click', this.handleChangePosition);
          }
        }
      }
    },

    handleRandomPlacement() {
      const renderNewShip = ({ x, y, isVertical }, length) => {
        const shipType = `ship${length}`;
        const ship = this.$refs[shipType][0].cloneNode(true);

        ship.dataset.cord = JSON.stringify({ x, y });
        ship.dataset.position = isVertical ? 'x' : 'y';

        this.ships[shipType] -= 1;
        ship.style.position = 'absolute';
        ship.style['grid-auto-flow'] = isVertical ? 'row' : 'column';

        [...document.querySelectorAll('.spot')].find((spot) => (
          spot.dataset.cord === JSON.stringify({ x, y })
        )).appendChild(ship);

        ship.addEventListener('dragstart', this.handleShipInitialCord);
        ship.addEventListener('click', this.handleChangePosition);
      };

      this.resetBoard();

      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 4 })) }, 4);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 3 })) }, 3);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 3 })) }, 3);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
    },

    handleRandomPlacement2() {
      const renderNewShip = ({ x, y, isVertical }, length) => {
        const shipType = `ship${length}`;
        const ship = this.$refs[shipType][0].cloneNode(true);

        ship.dataset.cord = JSON.stringify({ x, y });
        ship.dataset.position = isVertical ? 'x' : 'y';

        this.ships[shipType] -= 1;
        ship.style.position = 'absolute';
        ship.style['grid-auto-flow'] = isVertical ? 'row' : 'column';

        [...document.querySelectorAll('.spot')].find((spot) => (
          spot.dataset.cord === JSON.stringify({ x, y })
        )).appendChild(ship);

        ship.addEventListener('dragstart', this.handleShipInitialCord);
        ship.addEventListener('click', this.handleChangePosition);
      };

      this.resetBoard();

      axios.get('http://sea-horses.local/ranking2/')
        .then((response) => {
          this.dataAxios = response.data;
          // console.log(response.data);
          // console.log(this.dataAxios[4]);
        });

      renderNewShip({ ...this.dataAxios[4] }, 4);
      renderNewShip({ ...this.dataAxios[3][0] }, 3);
      renderNewShip({ ...this.dataAxios[3][1] }, 3);
      renderNewShip({ ...this.dataAxios[2][0] }, 2);
      renderNewShip({ ...this.dataAxios[2][1] }, 2);
      renderNewShip({ ...this.dataAxios[2][2] }, 2);
      renderNewShip({ ...this.dataAxios[1][0] }, 1);
      renderNewShip({ ...this.dataAxios[1][1] }, 1);
      renderNewShip({ ...this.dataAxios[1][3] }, 1);
      renderNewShip({ ...this.dataAxios[1][2] }, 1);
      // renderNewShip({ x: 0, y: 0, isVertical: 0 }, 4);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 4 })) }, 4);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 3 })) }, 3);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 3 })) }, 3);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 2 })) }, 2);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      // renderNewShip({ ...this.board.placeShipRandom(createShip({ length: 1 })) }, 1);
      this.board.placeShipServer2(createShip({ length: 4 }), this.dataAxios[4]);
      this.board.placeShipServer2(createShip({ length: 3 }), this.dataAxios[3][0]);
      this.board.placeShipServer2(createShip({ length: 3 }), this.dataAxios[3][1]);
      this.board.placeShipServer2(createShip({ length: 2 }), this.dataAxios[2][0]);
      this.board.placeShipServer2(createShip({ length: 2 }), this.dataAxios[2][1]);
      this.board.placeShipServer2(createShip({ length: 2 }), this.dataAxios[2][2]);
      this.board.placeShipServer2(createShip({ length: 1 }), this.dataAxios[1][0]);
      this.board.placeShipServer2(createShip({ length: 1 }), this.dataAxios[1][1]);
      this.board.placeShipServer2(createShip({ length: 1 }), this.dataAxios[1][2]);
      this.board.placeShipServer2(createShip({ length: 1 }), this.dataAxios[1][3]);
    },
  },
  mounted() {
    axios.get('http://sea-horses.local/ranking2/')
      .then((response) => {
        this.dataAxios = response.data;
      });

    if (localStorage.id === '') {
      this.flagGame = false;
    } else {
      this.flagGame = true;
    }
  },
};
</script>

<style scoped>
.container {
  font-family: bfont;
  min-width: 100%;
  background-color: rgb(210, 234, 248);
  box-shadow: inset 0 0 2px 2px rgb(56, 56, 56);
}

.container h2 {
  font-size: 3.2rem;
  text-shadow: 0 1px 1px black;
  text-align: right;
  /* text-decoration: underline; */
  color: rgb(0, 44, 102);
}

.options {
  display: flex;
  justify-content: space-around;
}

.options button {
  font-size: 3.2rem;
  text-shadow: 0 1px 1px black;
  text-align: center;
  outline: none;
  color: rgb(0, 44, 102);
}

.options button:hover,
.options button:focus {
  color: rgb(128, 255, 0);
}

.redactor {
  --spot-size: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.cords {
  display: grid;
  text-shadow: 0 1px 1px black;
  font-size: 1.8rem;
  color: rgb(0, 44, 102);
}

.letters {
  justify-content: space-evenly;
  grid-template-columns: repeat(10, var(--spot-size));
  grid-column: 2 / 3;
}

.numbers {
  grid-template-rows: repeat(10, var(--spot-size));
  align-content: space-evenly;
}

.letter,
.number {
  width: var(--spot-size);
  height: var(--spot-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: grid;
  grid-template: var(--spot-size) 1fr / var(--spot-size) 1fr;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--spot-size));
  grid-gap: 4px;
  border: 4px solid rgb(0, 44, 102);
  background-color: rgb(0, 44, 102);
}

.spot {
  width: var(--spot-size);
  height: var(--spot-size);
  /* background-color: rgb(35, 137, 218); */
  background-color: white;
  position: relative;
}

.over {
  background-color: rgb(0, 74, 134);
}

.tips-container {
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 2rem;
  text-shadow: 0 1px 1px black;
  display: flex;
  color: rgb(0, 44, 102);
  font-family: cursive;
}

.tips {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.tip-ico {
  font-size: 3.6rem;
  color: rgb(255, 255, 0);
  /* background-color: rgb(0, 44, 102); */
  animation: pulse 250ms 3s 6 alternate;
  border-radius: 50%;
}

@keyframes pulse {
  100% {
    transform: scale(1.2);
    color: rgb(200, 48, 48);
    box-shadow: inset 0 0 10px 2px rgb(255, 255, 0),
      0 0 10px 2px rgb(255, 255, 0);
  }
}

.selection {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ship-container {
  display: flex;
  align-items: center;
  color: rgb(0, 44, 102);
  text-shadow: 0 1px 1px black;
}

.count {
  font-size: 2.6rem;
  width: 5rem;
}

.ship {
  display: grid;
  grid-auto-flow: column;
  /* background-color: rgb(128, 128, 128); */
  background-color: rgb(35, 137, 218);
  /* background-image: url('../assets/images/seabattle_logo_new.png'); */
  grid-gap: 4px;
  cursor: move;
  z-index: 69;
}

.part {
  width: var(--spot-size);
  height: var(--spot-size);
  /* background-color: grey; */
  background-color: rgb(35, 137, 218);
  /* border: 4px solid rgb(70, 70, 70); */
  border: 3px solid rgb(0, 44, 102);
  /* background-image: url('../assets/images/seabattle_logo_new.png'); */
}

.disable {
  pointer-events: none;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 860px) {
  .board, .ship {
    grid-gap: 2px;
  }

  .board {
    grid-gap: 2px;
    border-width: 2px;
  }
}

@media screen and (max-width: 600px) {
  .ship-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .selection {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 572px) {
  .redactor {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 360px) {
  .board, .ship {
    grid-gap: 1px;
  }

  .board {
    grid-gap: 1px;
    border-width: 1px;
  }
}

@media screen and (max-width: 359px) {
  .ship .part {
    border-width: 1px;
  }
}
</style>
